.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: #f8f5f5;
  height: 60%;
  width: 25%;
  border-radius: 5px;
  margin-left: 10%;
}

.inputsection {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.inputsection > input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f8f5f5;
}

.inputsection > label {
  text-align: left;
  padding-bottom: 2%;
}

input:focus {
  outline: none;
}

.btn {
  width: 60%;
  background-color: black;
  border-radius: 5px;
  border: 0px;
  height: 10%;
  color: aliceblue;
  cursor: pointer;
  font-weight: bolder;
}
.btn:hover{
  color: black;
  background-color: aliceblue;
  border: 1px solid black;

}
.img {
  height: 100%;
  width: 50%;
  object-fit: fill;
}

.alert{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  text-align: center;
  
}
