.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #e9e3e3b0;
    width: 80%;
    border-radius: 10px;
    height: 250px;
    padding: 10%;
    box-shadow: 7px 7px 13px 0px rgba(41, 41, 41, 0.22);
}

.imagemIcon{
    width: 30%;
}
.titulo{
    padding-bottom: 10px;
}
.descricao{
    text-align: center;
}