.containerall {
    display: flex;
    flex-direction: column;
}

.containertext {
    display: flex;
    flex-direction: column;
}

.gridcontainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
}