.menu {
    height: 180vh;
    width: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12)
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.nav {
   margin-top: 30px;
   width: 100%;
}

.linha {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color:aliceblue;
    padding: 10px;
}

.linha:hover {
    background: linear-gradient(135deg, #c6c6c6 0%, #AAAAAA 100%);
    color: black;
}

@media only screen and (max-width: 1024px){
    .menu {
        height: 150vh;
        width: 20%;
    
    }
}