.containerPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:black;
}
.divs{
    text-align:start;
    color: white;
    width: auto;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 50px;
}