@import url('https://rsms.me/inter/inter.css');

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.h1{
    margin-left: 3%;
    padding-top: 5%;
}

.hr{
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.form {
    max-width: 40%;
    margin: 0 auto;
    align-items: center;
}

.fieldset {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    padding: 3rem;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.button{
    padding: 15px;
    margin-right: 3%;
    border-radius: 5px;
    border: 0px;
    background-color: black;
    color: aliceblue;
    width: 12em;
    cursor: pointer;
    
}
.button:hover{
    background-color:aliceblue;
    color:black;
    border: 1px solid black;

}
.label{
    text-align: left;
    margin-bottom: .3em;
    font-weight: bold;
}

.input {
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    padding: .2rem;
}
