.linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.btn {
    text-align: center;
    margin: 0 10px;
    font-size: 20px;
    border: none;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #c6c6c6;
}
.divLoading{
    width: 100px;
    display: flex;
    justify-content: center;
}